<section class="longread">
  <div class="container">
    <ul class="blog">
      <li class="blog-item">
        <a href="#" class="blog-link">
          <img src="./img/1.png" alt="cat" class="blog-photo">
          <div class="wrapper">
            <h2 class="blog-title sub-title">Забавні факти про котів, які вас здивують</h2>
            <p class="blog-text">Веселі та цікаві факти про котів, які піднімуть вам настрій та
              розкажуть про їхні унікальність.</p>
          </div>
        </a>
      </li>
      <li class="blog-item">
        <a href="#" class="blog-link">
          <img src="./img/2.png" alt="cats" class="blog-photo">
          <div class="wrapper">
            <h2 class="blog-title sub-title">Найпопулярніші породи котів: який кіт підходить вам?
            </h2>
            <p class="blog-text">Вивчіть найпопулярніші породи котів і їхні особливості, щоб зробити
              інформований вибір, який підходить саме вам.</p>
          </div>
        </a>
      </li>
      <li class="blog-item">
        <a href="#" class="blog-link">
          <img src="./img/4.png" alt="red-cat" class="blog-photo">
          <div class="wrapper">
            <h2 class="blog-title sub-title">Як піклуватися про вашого пухнастого друга: догляд за
              котом
            </h2>
            <p class="blog-text">Дізнайтеся про основні аспекти догляду за котом, включаючи
              годування,
              гігієну та взаємодію з вашим улюбленцем.</p>
          </div>
        </a>
      </li>
      <li class="blog-item">
        <a href="#" class="blog-link">
          <img src="./img/3.png" alt="red-cat" class="blog-photo">
          <div class="wrapper">
            <h2 class="blog-title sub-title">Історія та культурна значущість котів в усьому світ
            </h2>
            <p class="blog-text">Вивчіть, як коти впливали на культури різних народів та дізнайтеся
              історію спільного життя людей і котів.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>