<section class="posts">
  <div class="container">
    <ul class="posts">
      <li class="post">
        <a href="#">
          <img src="./img/picture 1.png" alt="kitten" class="post-img">
          <div class="overlay">
            <h2 class="post-title sub-title">Коти та їхні чудові навички: від полювання до загадкових
              здібностей</h2>
          </div>
        </a>
      </li>
      <li class="post">
        <a href="#">
          <img src="./img/picture 2.png" alt="scary kitten" class="post-img">
          <div class="overlay">
            <h2 class="post-title sub-title">Коти в літературі та мистецтві: від Егіпетських богів до
              сучасних
              майстрів</h2>
          </div>
        </a>
      </li>
      <li class="post">
        <a href="#">
          <img src="./img/picture 3.png" alt="cat" class="post-img">
          <div class="overlay">
            <h2 class="post-title sub-title">Котячі породи для активних власників: як вибрати
              компаньйона
            </h2>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>