<section class="section-posts">
  <div class="container">
    <ul class="posts">
      <li class="post">
        <a href="https://ukr.media/animals/423436/" target='_blank'>
          <picture>
            <source media="(min-width: 768px)" srcset="../img/picture-1-tab-desk.png">
            <source media="(min-width: 320px) and (max-width: 767px)" srcset="../img/picture-1-mob.png">
            <img src="../img/picture-1-mob.png" alt="Description of Image">
          </picture>
          <div class="overlay">
            <h2 class="post-title sub-title">Коти та їхні чудові навички: від полювання до загадкових
              здібностей</h2>
          </div>
        </a>
      </li>
      <li class="post">
        <a href="https://yabl.ua/2021/05/13/koti-v-mistectvi-riznih-epoh" target='_blank'>
          <img src="./img/picture-2.png" alt="scary kitten" class="post-img">
          <div class="overlay">
            <h2 class="post-title sub-title">Коти в літературі та мистецтві: від Егіпетських богів до
              сучасних
              майстрів</h2>
          </div>
        </a>
      </li>
      <li class="post">
        <a href="https://zoomapa.ua/yak-obraty-porodu-kishky/?srsltid=AfmBOorMFPUDSSUWabQuepmH3LZtefnQpDX9WYCv-qA8qTzekha1beWw"
          target='_blank'>
          <img src="./img/picture-3.png" alt="cat" class="post-img">
          <div class="overlay">
            <h2 class="post-title sub-title">Котячі породи для активних власників: як вибрати
              компаньйона
            </h2>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>