<div class="socials">
  <h2 class="socials-title title">Соцмережі</h2>
  <ul class="socials-list">
    <li class="socials-item">
      <a href="https://www.instagram.com/uanimals.official/" target="_blank" class="social-link">
        <img src="./img/instagram.png" alt="instagram" class="social-icon">
        <p class="social-subscripers">230.000</p>
      </a>
    </li>
    <li class="socials-item">
      <a href="https://www.facebook.com/UAnimals.official/" target="_blank" class="social-link">
        <img src="./img/facebook.png" alt="facebook" class="social-icon">
        <p class="social-subscripers">230.000</p>
      </a>
    </li>
    <li class="socials-item">
      <a href="https://www.tiktok.com/@uanimals?lang=uk-UA" target="_blank" class="social-link">
        <img src="./img/tiktok.png" alt="tiktok" class="social-icon">
        <p class="social-subscripers">230.000</p>
      </a>
    </li>
    <li class="socials-item">
      <a href="https://t.me/uanimalsorg" target="_blank" class="social-link">
        <img src="../img//telegram.png" alt="telegram" class="social-icon">
        <p class="social-subscripers">230.000</p>
      </a>
    </li>
    <li class="socials-item">
      <a href="https://www.linkedin.com/company/uanimals/" target="_blank" class="social-link">
        <img src="../img/linkedin.png" alt="linkedin" class="social-icon">
        <p class="social-subscripers">230.000</p>
      </a>
    </li>
  </ul>
</div>