.blog {
  display: grid;
  gap: 48px;
}

.blog-link {
  display: grid;
  gap: 20px;
  color: var(--common-black);
}

.blog-title {
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
  margin-bottom: 12px;
}

.blog-text {
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {

  .blog {
    gap: 36px;
  }

  .blog-link {
    grid-template-columns: 264px 1fr;
    gap: 24px;
  }
}