.longread-container {
  display: grid;
  gap: 96px;
  margin-bottom: 96px;
}


@media (min-width: 1440px) {
  .longread-container {
    grid-template-areas:
      "b b s"
      "b b s"
      "b b v"
      "b b .";
    gap: 24px;
  }


  .blog {
    grid-area: b;
  }

  .social {
    grid-area: s;
  }

  .video {
    grid-area: v;
  }
}