.socials-title {
  color: var(--grey, #2c2c2c);
  font-family: var(--common-font);
  margin-bottom: 24px;
  text-align: center;
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 8px;
}

.social-link {
  padding: 8px;
  color: var(--common-black, #2f2f37);
  border-radius: 16px;
  font-family: var(--common-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  justify-items: center;
}

.socials-item:nth-child(1) .social-link {
  background-color: var(--navy);
}

.socials-item:nth-child(2) .social-link {
  background-color: var(--pink);
}

.socials-item:nth-child(3) .social-link {
  background-color: var(--scarlet);
}

.socials-item:nth-child(4) .social-link {
  background-color: var(--turquoise);
}

.socials-item:nth-child(5) .social-link {
  background-color: var(--yellow);
}

.socials-item:nth-child(6) .social-link {
  background-color: var(--lilac);
}

@media (min-width: 768px) {
  .socials-list {
    gap: 24px;
  }

}